<p-toolbar>
  <div class="p-toolbar-group-start">
      <p-button label="Add Product" icon="pi pi-plus" class="mr-2" (click)="showAddModal()"></p-button>
  </div>
  
</p-toolbar>
<p-table [value]="products" [paginator]="true" [rows]="10" selectionMode="single">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Warehouse Location</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.warehouseId.id }}</td>
      <td>
        <div class="p-toolbar-group-start">
        <p-button label="Edit" class="mr-2" (click)="showEditModal(product)"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger" (click)="deleteProduct(product)"></p-button>
      </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<product-form
[warehousesFromParent] = "warehouses"
[displayAddEditModal]="displayAddEditModal"
[selectedProduct]="selectedProduct"
(clickClose)="hideAddModal($event)"
(clickAddEdit)="saveorUpdateProductList($event)"
></product-form>
<p-confirmDialog header="Delete"></p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
